* {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
/*NEW*/

html {
  scroll-behavior: smooth;
}
 
  nav {
    position: sticky;
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 76px;
      background-color: #120C01;
      z-index: 10;
  }


body, h1, h2, p, h5 {
  margin: 0;
}

nav {
  position: sticky;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 76px;
    background-color: #120C01;
    z-index: 10;
}

.nav-items {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav-items ul {
    display: flex;
    list-style: none;
}

.nav-items ul li {
    margin-left: 47px;
    font-size: 1.5rem;
    color: #ffffff;
}




/* HERO SECTION*/
.hero {
  position: relative;
  padding: 112px 52px 232px 152px;
  background-color: #1C1303;
  color: #120C01;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  position: relative;
}

.coffee-brew-bg {
  position: absolute;
  background-image: url(../img/turkish-coffee.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 974.19px;
  height: 887px;
  left: 138.14px;
  top: -40px;
  transform: rotate(14.5deg);
}

.brand-name {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 50px;
  width: 509px;
  margin-bottom: 30px;
}

.hero-content .header {
  width: 489px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 11px
}

.sub-header {
  width: 393px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
}

.skip-to-contact {
  width: 375px;
  border-radius: 33px;
  padding: 12px;
  opacity: 0.8;
  background-color: #7E7D7A;
  font-weight: 600;
}

.hero-illustration {
  position: relative;
}

.hero-img {
  height: 523px;
  width: 720px;
}







/*FEATURE SECTION*/
.features, 
.feature-heading,
.container,
.feature-title,
.features .description {
color: #000000;
}

.features {
padding: 136px 141px 126px 152px;
background-color: #FFFDEC;
}

.feature-heading {
font-size: 32px;
font-weight: 600;
margin-bottom: 106px;
}


.feature-items {
display: flex;
justify-content: center;
padding: 0 29px;
}

.container {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.container:nth-child(2) {
margin: 0 126px;
}

.feature-title {
font-weight: 600;
font-size: 24px;
margin-bottom: 8px;
}

.feature-items .description {
font-weight: 400;
font-size: 18px;
}

.container img {
height: 160px;
width: 160px;
margin-bottom: 17px;
}





/*ABOUT SECTION*/

.about-section {
background-image: url();
}

.about-container {
display: flex;
position: relative;
align-items: center;
background-color: rgba(255, 255, 255, 0.2);
}

.about-container img {
padding: 229px 93px 195px;
height: 435px;
width: 435px;
}

.about-container::before {
content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/coffee-bean.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

.about-content .heading,
.about-content .description {
font-family: 'Poppins', sans-serif;
font-size: 32px;
font-weight: 600;
color: #000000;
}

.about-content .description {
margin: 12px 0;
}

.about-content .description {
font-size: 24px;
width: 348px;
}

.cta-btn {
border-radius: 33px;
width: 142px;
height: 38px;
font-weight: 600;
font-size: 12px;
background-color: #2F2105;
color: #F4AE26;
}
/*BEST SELLING SECTION*/

.best-selling-section {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 38px;
  padding: 513px 0;
}

.best-selling-section .heading {
  text-align: center;
  margin-bottom: 38px;
}

.best-selling-section .heading,
.card .title,
.card .description,
.price {
  color: #000000;
}

.cards {
   display: flex;
  justify-content: center;
}

.card {
  height: 380px;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);
  border-radius: 12px;
  padding: 30px 25px;
  margin-right: 40px;
}

.card img {
  height: 222px;
  width: 308px;
}

.card .title {
  font-size: 24px;
}

.card .description {
  font-size: 14px;
}

.card .text-content {
  display: flex;
  justify-content: space-between;
}

.card .description-area {
  width: 160px;
}

.card .price {
  font-size: 24px;
  font-weight: 600;
}
/*TESTIMONIAL SECTION*/

.testimonial-section {
  padding: 46px 0;
  margin: 0 auto;
}

.testimonial-section .wrapper {
  height: 485px;
  margin: 0 auto;
  background-image: url(../img/testimonial.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 156px;
}

.testimonial-container {
  width: 413px;
}

.testimonial-container h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 16px;
}


.person-bg {
  position: relative;
  background-image: url(../img/person.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  width: 257px;
  height: 280px;
}

.person-bg .text-content {
  position: relative;
  top: 172px;
  left: 35px;
  background-color: #FFCB7C;
  border-radius: 8px;
  border: 6px solid #FFD390;
  padding: 9px 12px;
}

.person-bg .name,
.person-bg .description,
.testimonial-container h2,
.testimonial-container .description {
  color: #2F2105;
}

.person-bg .name {
  font-size: 18px;
  font-weight: 500;
}

.person-bg .description {
  font-size: 14px;
  font-weight: 400px;
  width: 212px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0px;
  z-index: 2;
}
